# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Files
/KMDFDriver1/.vs/
/KMDFDriver1/x64/Debug
/HelloWDM/x64/Debug
/KMDFCapter1/x64/Debug
/NTDriver1/x64/Debug
/.vs
/LoadNTDriver/x64/Debug
/LoadNTDriver/x64/Release
/KMDFDriver1/x64/Release
/HelloWDM/x64/Release
/BasicFunction/x64/Debug
/WDMBasicFunction/x64/Debug
/Test/x64/Debug
